<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>감귤마켓-2조</title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <section class="email_login">
    <header class="email_login_header">
      <article>
        <h1>로그인</h1>
      </article>
    </header>
    <main class="email_login_main">
      <form>
        <label for="login_email" class="email_font">이메일</label>
        <input type="email" id="login_email" required>
        <label for="login_password" class="email_font">비밀번호</label>
        <input type="password" id="login_password" min="3" max="20" required>
        <button class="login_btn">로그인</button>
        <p onclick="location. href='/signup'" class="email_signup">이메일로 회원가입</p>
      </form>
    </main>
  </section>
</body>
</html>