<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색페이지</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main_search.css">
    <link rel="stylesheet" href="./css/common.css">
</head>

<body>
    <main class="home">
        <header class="home-header">
            <h2 class="ir">검색창</h2>
            <form>
                <div class="inp-wrap">
                    <a class="search-btn" href="/search_page">
                        <img src="./images/icon/icon-search.png" alt="검색버튼" />
                    </a>
                    <label for="inp-search"></label>
                    <input class="inp-search" id="inp-search" type="search" placeholder="감귤마켓 피드">
                </div>
            </form>
        </header>
        <section class="cont">
            <h1 class="ir">컨텐츠</h1>
            <div class="cont-search-wrap">
                <img class="cont-home-img" src="./images/symbol-logo-gray.png" alt="홈이미지">
                <p>유저를 검색해 팔로우 해보세요!</p>
                <a class="cont-search-btn" href="/search_page">검색하기</a>
            </div>
        </section>
        <footer class="footer">
            <h2 class="ir">푸터메뉴바</h2>
            <nav class="footer-nav">
                <ul class="menu-list">
                    <li class="menu-item">
                        <button>
                            <img src="./images/icon/icon-home.svg" alt="홈버튼">
                            홈
                        </button>
                    </li>
                    <li class="menu-item">
                        <button>
                            <img src="./images/icon/icon-message-circle.svg" alt="채팅버튼">
                            채팅
                        </button>
                    </li>
                    <li class="menu-item">
                        <button>
                            <img src="./images/icon/icon-edit.svg" alt="게시물 작성 버튼">
                            게시물 작성
                        </button>
                    </li>
                    <li class="menu-item">
                        <button>
                            <img src="./images/icon/icon-user.svg" alt="프로필 버튼">
                            프로필
                        </button>
                    </li>
                </ul>
            </nav>
        </footer>
    </main>
</body>

</html>